body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e4dc;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
    color: #637a62;
}

h1 sup {
    font-size: 11px;
    top: -18px;
    font-weight: 400;
    color: #5b835a;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    color: #91988B;
    margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    margin-bottom: 24px;
    color: #333;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #86AC86;
    stroke-width: 3px;
}

.line-chart-container {
    height: 60vh;
}

.rising-insight-2 {
    width: 100%;
    height: 600px; /* Set a fixed height for debugging */
    border: 1px solid black; /* Add a border to make the div visible */
}

#rs2-form{
    margin-bottom: 10px;
    border: 1px solid black;
}

#intro_picture{
    width: 100%;
    border: 2px solid black;
    margin-bottom: 40px;
}



/*----- SOLUTION SECTION--------*/

.autocomplete-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    font-size: 14px;
}

.autocomplete-dropdown div {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-dropdown div:hover {
    background-color: #f0f0f0;
}
