body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e4dc;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
    color: #637a62;
}

h1 sup {
    font-size: 11px;
    top: -18px;
    font-weight: 400;
    color: #5b835a;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    color: #91988B;
    margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    margin-bottom: 24px;
    color: #333;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #86AC86;
    stroke-width: 3px;
}

.line-chart-container {
    height: 60vh;
}